h2 {
    display: none;
}

section.pipeline-component h1 {
    display: none;
}

.SUCCESS {
      background-color: #228b22;
}

._jsPlumb_connector {
    display: none;
}

.stage_ci-trigger-to-int {
    display: none;
}
